@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #0D0F14;
  font-family: Arial, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}